#modalWindow {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    width: 80%;
}
.modal-content > *
{
    padding: 5px;
}
.modal-content .header {
    background-color: #61b3ff;
}
.modal-content .header h1 {
    margin: 0;
}
.modal-content .header h1 span{
    font-size: 18px;
    color: #303030;
    font-style: italic;
    font-weight: normal;
}
.modal-content .header p {
    margin: 0;
    text-transform: uppercase;
    color:#ffffff;
}
.modal-content .body {
    min-height: 20px;
}

.modal-content .footer{
    background-color: #61b3ff;
    clear: both;
}

form input[type="text"] {
    text-transform: lowercase;
}

.section {
    float: left;
    width: 45%;
    padding: 2%;
}

.inputBox{
  float: right;
  width: 60%;
  resize: none;
}

#damageDetails{
    display: none;
}

.button{
    border-radius: 20px;
    border-color: #ffffff;
    color: #ffffff;
    font-weight: bold;
    line-height: 2;
    width:100px;
}

.buttonSave{
    background-color: #00a824;
}

.buttonCancel{
    background-color: #ff0000;
}

.square {
    height: 25px;
    width: 25px;
}

.errorMessage{
    color: #ff0000;
    width: 100%;
    text-align: right;
    font-size: small;
}